@model IEnumerable<ProjetoSalaoMVC.Models.Usuario>
@{
    ViewData["Title"] = "Usuarios";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.IdUsuar)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Senha)
                </td>
            </tr>
        }
    </tbody>
</table>